.receipt-card {
  min-width: 90%;
  margin: 15px;
}

@media only screen and (min-width: 860px) {
  .receipt-card {
    width: 300px;
  }
}

.receipt-image {
  object-fit: cover;
  height: 150px;
}

.receipt-bar {
  background-color: #6F6B6B;
  padding: 5px;
  color: white;
}
