<div class="fridge-container">
  <div class="d-flex align-items-start">
    <img src="assets/images/fridge.png" (click)="fridgeClicked()"/>
    <div class="bg-white fridge-content" *ngIf="showFridgePanel">
      <div class="bg-danger p-2">Што имам во фрижидер</div>
      <ng-container *ngIf="fridgeIngredients$ | async as ingredients">
        <ul class="p-2">
          <ng-container *ngFor="let item of ingredients.cards">
            <li><input (change)="checkBoxChanged(item)" [checked]="item.inCard" type="checkbox">{{item.ingredient.name}}
            </li>
          </ng-container>
        </ul>
      </ng-container>
    </div>
  </div>
</div>
<div class="kitchen-container">
  <div class="d-flex align-items-start flex-row-reverse">
    <img src="assets/images/kitchen.png" (click)="kitchenClicked()">
    <div class="bg-white kitchen-content" *ngIf="showKitchenPanel">
      <div class="bg-danger p-2">Што имам во кујна</div>
      <ng-container *ngIf="kitchenIngredients$ | async as ingredients">
        <ul class="p-2">
          <ng-container *ngFor="let item of ingredients.cards">
            <li><input (change)="checkBoxChanged(item)" [checked]="item.inCard" type="checkbox">{{item.ingredient.name}}
            </li>
          </ng-container>
        </ul>
      </ng-container>
    </div>
  </div>
</div>
