<div class="container-lg receipt-container position-relative">
  <img src="{{receipt.pictureUrl}}"
       class="main-image"/>
  <div>
    <a routerLink="/home">
      <img src="assets/images/back.png" class="position-absolute top-0 start-0 translate-middle"/>
    </a>
  </div>
  <div class="d-flex justify-content-around">
    <div class="left-container">
      <div class="details d-flex justify-content-evenly align-items-center text-center p-1">
        <div class="details-item">
          <img src="assets/images/clock.png">
          <div>{{getDuration(receipt.timeToPrepare)}} минути</div>
        </div>
        <div class="details-item text-center">
          <img src="assets/images/difficulty/{{getDifficulty().picture}}" height="42px">
          <div>тежина: {{getDifficulty().value}}</div>
        </div>
        <div class="details-item">
          <img src="assets/images/circle/green-check.png" height="60px"/>
        </div>
        <div class="details-item text-center">
          <img src="assets/images/kcal.png">
          <div>{{receipt.calories}}</div>
        </div>
      </div>
      <div class="d-flex justify-content-center" *ngIf="!currentStep; else elseBlock">
        <button class="btn btn-danger receipt-buttons m-4" (click)="startReceipt()">Започни</button>
      </div>
      <ng-template #elseBlock>
        <div class="d-flex justify-content-between p-2">
          <div class="p-3">
              <h2>Чекори</h2>
              <h4>чекор: {{currentStep!.stepNumber}}</h4>
              <h4>{{currentStep!.description}}</h4>
              <div>
                <button *ngIf="currentStep!.stepNumber - 1 > 0" class="btn btn-danger m-1 receipt-buttons" (click)="previousStep()">предходно</button>
                <button *ngIf="currentStep!.stepNumber + 1 <= this.receipt.steps.length; else confirmButton" class="btn btn-danger m-1 receipt-buttons" (click)="nextStep()">следно</button>
                <ng-template #confirmButton>
                  <button class="btn btn-primary receipt-buttons">валидирај</button>
                </ng-template>
              </div>
          </div>
          <div>
            <img src="{{currentStep!.pictureUrl}}" height="200px"/>
          </div>
        </div>
      </ng-template>
    </div>
    <div class="right-container px-5 pb-5">
      <h2 class="text-center p-2 text-white">
        {{receipt.name}} Состојки
      </h2>
      <ng-container *ngIf="!currentStep; else currentStepDefined">
        <ng-container *ngFor="let ingredientWithSize of receipt!.ingredients">
          <div class="text-white">
            <img class="m-1" src="assets/images/circle/green-check.png" height="35px">{{ingredientWithSize.ingredient.name}} - {{ingredientWithSize.count}} {{ingredientWithSize.sizeType}}
          </div>
        </ng-container>
      </ng-container>
      <ng-template #currentStepDefined>
        <ng-container *ngFor="let ingredientWithSize of currentStep!.ingredientsUsed">
          <div class="text-white">
            <img class="m-1" src="assets/images/circle/green-check.png" height="35px">{{ingredientWithSize.ingredient.name}} - {{ingredientWithSize.count}} {{ingredientWithSize.sizeType}}
          </div>
        </ng-container>
      </ng-template>
    </div>
  </div>
</div>
