<div class="header d-flex justify-content-center align-items-center py-1">
  <img src="assets/images/header_logo.png"/>
  <div class="header-buttons mx-2">
    <ng-container *ngIf="(userState$ | async).currUser as user else navigateButton">
      <button class="btn btn-danger rounded-4" mx-1>Hello {{ user.username}}</button>
      <button class="btn btn-danger rounded-4 mx-1"><label>{{user.points}} поени</label></button>
      <button class="btn btn-danger rounded-4 mx-1" (click)="logout()">logout</button>
    </ng-container>
    <ng-template #navigateButton>
      <ng-container *ngIf="getRoute() == '/register' else loginButton">
        <a routerLink="/login">
          <button class="btn btn-danger rounded-4">login</button>
        </a>
      </ng-container>
      <ng-template #loginButton>
        <a routerLink="/register">
          <button class="btn btn-danger rounded-4" (click)="logout()">register</button>
        </a>
      </ng-template>
    </ng-template>
  </div>
</div>
