<div class="container-lg home-container d-flex flex-column align-items-center">
  <div class="home-bar text-center w-100 p-2">
    Време е за готвење
    <select class="form-select w-auto d-inline-block" [(ngModel)]="receiptTypeFilter" (change)="filterChanged()" aria-label="Default select example">
      <option selected value="ALL">сите</option>
      <option value="BREAKFAST">доручек</option>
      <option value="MEAL">ручек</option>
      <option value="DINNER">вечера</option>
    </select>
  </div>
    <div class="recipes-container">
    <ng-container *ngIf="recipes$ | async as recipes">
      <div class="d-flex flex-wrap justify-content-evenly">
        <a [routerLink]="['/receipt',i]" *ngFor="let receipt of recipes;let i=index" class="text-decoration-none">
          <app-receipt  [receipt]="receipt"></app-receipt>
        </a>
      </div>
    </ng-container>
  </div>
</div>



