<div class="container-lg receipt-container position-relative mb-3" *ngIf="receipt$ | async as receipt">
  <img src="{{receipt.receipt.pictureUrl}}"
       class="main-image"/>
  <div>
    <a routerLink="/home">
      <img src="assets/images/back.png" class="position-absolute top-0 start-0 translate-middle"/>
    </a>
  </div>
  <div class="d-flex justify-content-around">
    <div class="left-container">
      <div class="details d-flex justify-content-evenly align-items-center text-center p-1">
        <div class="details-item">
          <img src="assets/images/clock.png">
          <div>{{getDuration(receipt.receipt.timeToPrepare)}} минути</div>
        </div>
        <div class="details-item text-center">
          <img src="assets/images/difficulty/{{getDifficulty(receipt.receipt.difficulty).picture}}" height="42px">
          <div>тежина: {{getDifficulty(receipt.receipt.difficulty).value}}</div>
        </div>
        <div class="details-item">
          <img
            src="{{ receipt.canMake ? 'assets/images/circle/green-check.png' : 'assets/images/circle/red-cross.png' }}"
            height="60px"/>
        </div>
        <div class="details-item text-center">
          <img src="assets/images/kcal.png">
          <div>{{receipt.receipt.calories}}</div>
        </div>
      </div>
      <div *ngIf="(stepState$ | async) as state">
        <div class="d-flex justify-content-center" *ngIf="state.currentStep == 0; else elseBlock">
          <button class="btn btn-danger receipt-buttons m-4" (click)="startReceipt()">Започни</button>
        </div>
        <ng-template #elseBlock>
          <div class="d-flex justify-content-between p-2" *ngIf="getCurrentStep(state) as currentStep">
            <div class="p-3">
              <h2>Чекори</h2>
              <h4>чекор: {{state.currentStep}}</h4>
              <h4>{{currentStep.description}}</h4>
              <div>
                <button *ngIf="currentStep.stepNumber - 1 > 0" class="btn btn-danger m-1 receipt-buttons" (click)="previousStep()">предходно</button>
                <button *ngIf="currentStep.stepNumber + 1 <= this.receipt.receipt.steps.length; else confirmButton"
                        class="btn btn-danger m-1 receipt-buttons" (click)="nextStep()">следно
                </button>
                <ng-template #confirmButton>
                  <button class="btn btn-primary receipt-buttons" (click)="showUploadPicture()" *ngIf="!state.isUploadingPictureFinished">валидирај</button>
                  <button class="btn btn-warning receipt-buttons" (click)="showUploadPicture()" *ngIf="state.isUploadingPictureFinished && !state.error">испрати нова слика</button>
                  <button class="btn btn-danger receipt-buttons disabled" *ngIf="state.error">{{state.error}}</button>
                  <div class="text-center d-flex" *ngIf="state.isValidateShown">
                    <input class="form-control" type="file" (change)="onFileUpload($event)">
                    <div class="spinner-border mx-2" role="status" *ngIf="state.isUploadingPicture">
                      <span class="sr-only"></span>
                    </div>
                  </div>
                </ng-template>
              </div>
            </div>
            <div>
              <img src="{{currentStep!.pictureUrl}}" height="200px"/>
            </div>
          </div>
        </ng-template>
      </div>

    </div>
    <div class="right-container px-5 pb-5">
      <h2 class="text-center p-2 text-white">
        {{receipt.receipt.name}} Состојки
      </h2>
      <ng-container *ngIf="(stepState$ | async) as state">
        <ng-container
          *ngFor="let ingredientWithSize of (state.currentStep > 0 ? (getCurrentStep(state)).ingredientsUsed : receipt!.receipt.ingredients)">
          <div class="text-white d-flex justify-content-between align-items-center">
            <img class="m-1"
                 src="{{containsIngredient(ingredientWithSize.ingredient) ? 'assets/images/circle/green-check.png' : 'assets/images/circle/red-cross.png'}}"
                 height="35px">
            <span class="w-100">{{ingredientWithSize.ingredient.name}}
              - {{ingredientWithSize.count}} {{ingredientWithSize.sizeType}}</span>
            <img src="{{ingredientWithSize.ingredient.pictureUrl}}" width="50px"/>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
