.receipt-container {
  background-color: white;
  padding: 0;
}

.main-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.left-container {
  width: 65%;
}

.receipt-buttons {
  width: 150px;
}

.right-container {
  width: 35%;
  background-color: #A5A5A5;
}

.back-button {
  position:absolute;
  top:0;
  left:0;
}
